:root{
    --main-color: #505033;
    --secondary-color: #264969;
    --accent1-color: #cfcfb4;
    --accent2-color: #B4CDE4;
}

h2{
    font-family: opensans, sans-serif, arial, helvetica;
    font-size: 2rem;
    color:var(--secondary-color);
    text-align:center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.logo{
    margin-left: 50px;
    display: flex;
    width:150px
}
.pages{
    margin-right: 50px;
    font-size: larger;
    padding-left: 200px;
    display: flex;
}
a{
    color:aliceblue;
    padding-right: 12px;
}
p{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    margin-left: 30px;
    margin-right: 30px;
}
header, footer{
    background-color: var(--main-color);
    color: #cfcfb4;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sociallinks, .pages{
    display: flex;
    justify-content: center;
}
#facebook, #instagram, #youtube{
    margin:4px;
}
.hero{
    position: relative;
}
#hero{
    display:block;
    width: 1400px;
    height: auto;
    opacity: 0.5;
}
h1{
    margin-top: -840px;
    color: #264969;
    padding-left: 556px;
    position:absolute;
}
article{
    background-color: var(--secondary-color);
    color:#cfcfb4;
    position:absolute;
}
.mission{
    margin-top: -480px;
    display:flex;
    justify-content:center;
    margin-right: 490px;
    margin-left: 400px;
    background-color: var(--secondary-color);
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 10px;
    padding-right: 10px;
}
.little-hero{
    float:right;
    width:450px;
    height:auto;
    margin-top: -300px;
    display:flex;
    justify-content: center;
    margin-right: 40px;
}
.adventure{
    width: 200px;
    height:160px;
    margin-bottom: 20px;
    margin-left: 25px;
}
