nav{
    background-color: rgb(99, 123, 220);
    padding: 15px;
}
nav a {
    display: block;
    color: #fff;
    padding: 25px;
}
h1 {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }
  
h1{
    color:steelblue;
    padding: 15px;
}
img{
    width: 200;
    height: auto;
    border: 2px solid steelblue;
    padding: 4px;
    box-shadow: 0 0 30px gray;
}
p{
    padding: 20px;
    color: steelblue;
}
section{
    width: 600px;
    text-align: center;
}