:root{
    --background-color:#F3F9FB;
    --main-txt-color: white;
    --main-color:#226597;
    --second-chart-background: #87C0CD;
    --font-family:'sans serif', helvetica, arial;
    --padding:15px;
    --margin: 35px;
}

nav{
    background-color: var(--main-color);
    padding: var(--padding);
}
nav a {
    color:var(--background-color);
    display:block;
    padding: var(--padding)
}
h1{
    color: var(--main-color);
    padding-left:var(--padding)
}
main img{
    width:150px;
    height: auto;
    border: 1px solid var(--main-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: var(--margin);
}
main{
    max-width:840px;
}
aside{
    width:300px;
    margin: var(--margin);
    box-shadow:0 0 30px gray;
    border:3px var(--main-color);
    background-color: var(--main-color);
    color: var(--background-color);
    text-align: justify;
    outline:auto;
    padding: var(--padding);
}
p{
    padding: 0;
}
aside img{
    width:200px;
    align-items: center;
}
h2{
    padding-top:var(--padding);
}
footer{
    margin-top: var(--padding);
    border:1px solid steelblue;
    text-align:center;
    background-color: var(--main-color);
    color: var(--background-color);
}