*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}
:root{
    --background-color:#F3F9FB;
    --main-txt-color: white;
    --main-color:#226597;
    --second-chart-background: #87C0CD;
    --font-family:'sans serif', helvetica, arial;
    --padding:15px;
    --margin: 35px;
}

nav{
    background-color: var(--main-color);
    padding: var(--padding);
}
nav a {
    color:var(--background-color);
    display:block;
    padding: var(--padding)
}
h1{
    color: var(--main-color);
    padding-left:var(--padding)
}
main img{
    width:150px;
    height: auto;
    border: 1px solid var(--main-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: var(--margin);
    float:right;
}
main{
    max-width:840px;
    align-items: right;
}

p{
    padding: 0;
}
aside img{
    width:300px;
    align-items: center;
}
h2{
    padding-top:var(--padding);
}
footer{
    margin-top: var(--padding);
    border:1px solid steelblue;
    text-align:center;
    background-color: var(--main-color);
    color: var(--background-color);
}
/* Class Selectors*/

.box{
    border: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--main-txt-color) ;
    width:500px;
    box-shadow:0 0 30px gray;
    text-align: justify;
    outline:auto;
    padding: var(--padding);
}
aside{
    position: relative;
}
aside h2{
    position:absolute;
    color: black;
    margin-top: -10px;
}