
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color:#F3F9FB;
    --main-txt-color: white;
    --main-color:#226597;
    --second-chart-background: #87C0CD;
    --font-family:'sans serif', helvetica, arial;
    --padding:15px;
    --margin: 35px;
}

nav{
    background-color: var(--main-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid steelblue;
    
}
nav a {
    color:var(--background-color);
    display:block;
    text-decoration: none;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
h1{
    margin-top:10px;
    color: var(--main-color);
    padding-left:var(--padding);
    border-bottom: solid var(--main-color);
    margin-bottom: 20px;
    padding:8px;
    font-family: Arial, Helvetica, sans-serif;
}
main img{
    width:150px;
    height: auto;
    border: 1px solid var(--main-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: var(--margin);
    float:right;
}

p{
    padding: 0;
}
aside img{
    width:220px;
    display: flex;
    align-content: center;
    margin-bottom: 15px;
}

footer{
    margin-top: var(--padding);
    text-align:center;

    color: black;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
/*Class Selectors*/

.box{
    border: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--main-txt-color) ;
    max-width:400px;
    max-height: 1000px;
    box-shadow:0 0 30px gray;
    text-align: justify;
    outline:auto;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify, center;
}

aside h2{
    position:absolute;
    color: var(--background-color);
    margin-top: 320px;
}
header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}
.grid{
    display: grid;
    align-items: center;
}
main{
    grid-column: 2/3;
    margin: 1rem;
    max-width: 300px;
}

aside{
    grid-column: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}
.temple{
    background-color: rgba(128, 128, 128, 0.486) ;
    border: 1rem;
    margin: 1rem;
    padding: 1rem;
    text-align: justify;
    outline:auto;
    padding: var(--padding);
}