nav{
    background-color: rgb(99, 123, 220);
    padding: 15px;
}
nav a {
    display: block;
    color: #fff;
    padding: 25px;
}
h1{
    color:steelblue;
    padding: 15px;
}
img{
    width: 200;
    height: auto;
    border: 30px dashed black;
    
    padding: 10px;
    background-color:pink;
    box-shadow: 0 0 30px gray;
}

.profile{
    border-color:green;
}

p{
    padding: 20px;
    color: steelblue;
}
section{
    width: 600px;
    
}